<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>iKNSA - AngularJs 1.4.9 Course</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, user-scalable = yes">

        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
    </head>
    <body class="container" ng-app>

        <div class="jumbotron">
            <h1>ngModel</h1>
            <label for="name">Name: </label>
            <!-- Directive ng-model -->
            <input type="text" ng-model="yourName" placeholder="Enter a name here">
            
            <h2>hello {{ yourName }}</h2>
        </div>

        <div class="jumbotron">
            <h1>ngClick</h1>

            <button ng-click="tab = 1" class="btn btn-success">Success</button>
            <button ng-click="tab = 2" class="btn btn-danger">Danger</button>
            <button ng-click="tab = 0" class="btn btn-default">Default</button>
            <div ng-show="tab === 1">
                <h2>Contenu success avec angular</h2>
            </div>

            <div ng-show="tab === 2">
                <h2>Contenu danger avec angular</h2>
            </div>
        </div>

        <div class="jumbotron">
            <style>
                #contenu1, #contenu2 {
                    display: none;
                }
            </style>
            <h1>jQuery version of ngClick</h1>
            <button class="btn btn-success contenu1" onclick="showContent1()">Success</button>
            <button class="btn btn-danger contenu2" onclick="showContent2()">Danger</button>
            <button class="btn btn-default" onclick="showContent3()">Default</button>
            <div id="contenu1">
                <h2>Contenu success avec javaScript</h2>
            </div>

            <div id="contenu2">
                <h2>Contenu danger avec angular</h2>
            </div>

            <script>
                function showContent1() {
                    document.getElementById('contenu1').style.display = 'block';
                    document.getElementById('contenu2').style.display = 'none';
                }

                function showContent2() {
                    document.getElementById('contenu1').style.display = 'none';
                    document.getElementById('contenu2').style.display = 'block';
                }

                function showContent3() {
                    document.getElementById('contenu1').style.display = 'none';
                    document.getElementById('contenu2').style.display = 'none';
                }
            </script>
        </div>
        <!-- JavaScript Dependencies -->
        <script src="bower_components/angular/angular.min.js"></script>
    </body>
</html>