<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>iKNSA - AngularJs 1.4.9 Course</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, user-scalable = yes">

        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body class="container" ng-app>

        <div class="jumbotron">
            <h1>ngModel</h1>
            <label for="name">Name: </label>
            <!-- Directive ng-model -->
            <input type="text" ng-model="yourName" placeholder="Enter a name here">
            
            <h2>hello {{ yourName }}</h2>
        </div>

        <div class="jumbotron">
            <h1>ngClick</h1>

            <button ng-click="tab = 1" class="btn btn-success">Success</button>
            <button ng-click="tab = 2" class="btn btn-danger">Danger</button>
            <button ng-click="tab = 0" class="btn btn-default">Default</button>
            <div ng-show="tab === 1">
                <h2>Contenu success avec angular</h2>
            </div>

            <div ng-show="tab === 2">
                <h2>Contenu danger avec angular</h2>
            </div>
        </div>

        <!-- JavaScript Dependencies -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
    </body>
</html>